msgpack==1.1.2
uritemplate==4.2.0
mcp==1.26.0
nvidia-cufft-cu12==11.3.3.83
omegaconf==2.3.0
sentry-sdk==2.54.0
astor==0.8.1
pure_eval==0.2.3
pyasn1_modules==0.4.2
transformers==4.57.6
httpcore==1.0.9
scikit-learn==1.8.0
gymnasium==1.2.1
pytest==9.0.2
dill==0.4.1
pluggy==1.6.0
executing==2.2.1
peft==0.18.1
h11==0.16.0
docstring_parser==0.17.0
PyJWT==2.11.0
joblib==1.5.3
partial-json-parser==0.2.1.1.post7
opentelemetry-semantic-conventions==0.61b0
pexpect==4.9.0
overcooked_ai==2.0.0
litellm==1.82.1
torch_c_dlpack_ext==0.1.5
jiter==0.13.0
multidict==6.7.1
importlib_metadata==8.7.1
together==2.3.2
cbor2==5.8.0
pysdl2-dll==2.32.0
flashinfer-python==0.6.4
proto-plus==1.27.1
propcache==0.4.1
fastar==0.8.0
nvidia-cusparselt-cu12==0.7.1
opentelemetry-exporter-otlp-proto-common==1.40.0
rich-toolkit==0.19.7
jupyterlab_widgets==3.0.16
einops==0.8.2
nvidia-nvshmem-cu12==3.4.5
python-json-logger==4.0.0
cloudpickle==3.1.2
mss==10.0.0
PyScreeze==1.0.1
annotated-types==0.7.0
jedi==0.19.2
fastapi-cloud-cli==0.15.0
networkx==3.6.1
protobuf==6.33.5
mistral_common==1.9.1
ImageIO==2.37.3
filelock==3.25.1
Jinja2==3.1.6
nvidia-curand-cu12==10.3.9.90
matplotlib-inline==0.2.1
natsort==8.4.0
iniconfig==2.3.0
msgspec==0.20.0
nvidia-nccl-cu12==2.27.5
prompt_toolkit==3.0.52
opentelemetry-semantic-conventions-ai==0.4.15
requests==2.32.5
anthropic==0.84.0
xai-sdk==1.8.0
huggingface_hub==0.36.2
click==8.3.1
idna==3.11
gguf==0.18.0
decorator==5.2.1
rsa==4.9.1
gitdb==4.0.12
google-ai-generativelanguage==0.6.15
sympy==1.14.0
lm-format-enforcer==0.11.3
stack-data==0.6.3
typer==0.24.1
opencv-python==4.11.0.86
pyboy==2.7.0
grpcio-status==1.71.2
greenlet==3.3.2
coloredlogs==15.0.1
tensorboard-data-server==0.7.2
cachetools==7.0.5
bcrypt==5.0.0
nvidia-cudnn-frontend==1.18.0
mpmath==1.3.0
pytweening==1.2.0
pydantic-settings==2.13.1
opencv-python-headless==4.13.0.92
pycparser==3.0
zipp==3.23.0
nvidia-ml-py==13.590.48
compressed-tensors==0.13.0
starlette==0.52.1
traitlets==5.14.3
rlcard==1.2.0
absl-py==2.4.0
python-dateutil==2.9.0.post0
nvidia-cutlass-dsl==4.4.1
numpy==2.2.6
pydantic_core==2.41.5
watchfiles==1.1.1
google-api-python-client==2.192.0
ipywidgets==8.1.8
triton==3.6.0
gym-notices==0.1.0
tokenizers==0.22.2
outlines_core==0.2.11
yarl==1.23.0
vg-bench==0.1.0
markdown-it-py==4.0.0
opentelemetry-exporter-otlp==1.40.0
blake3==1.0.8
PyGetWindow==0.0.9
types-tabulate==0.10.0.20260308
attrs==25.4.0
nvidia-cublas-cu12==12.8.4.1
referencing==0.37.0
loguru==0.7.3
pygame==2.6.1
urllib3==2.6.3
frozenlist==1.8.0
apache-tvm-ffi==0.1.9
pip==26.0.1
httpx-sse==0.4.3
ijson==3.5.0
smmap==5.0.3
tqdm==4.67.3
humanfriendly==10.0
sentencepiece==0.2.1
wcwidth==0.6.0
rich==14.3.3
anyio==4.12.1
widgetsnbextension==4.0.15
pyparsing==3.3.2
opentelemetry-api==1.40.0
websockets==14.2
ipython_pygments_lexers==1.1.1
cuda-bindings==12.9.4
torch==2.10.0
openai-harmony==0.0.8
grpcio-reflection==1.78.0
dnspython==2.8.0
vllm==0.17.1
pydantic-extra-types==2.11.0
grpcio==1.78.0
pyasn1==0.6.2
GamingAgent==0.1.0
nvidia-cusolver-cu12==11.7.3.90
pybase64==1.4.3
nvidia-cutlass-dsl-libs-base==4.4.1
python-multipart==0.0.22
ninja==1.13.0
distro==1.9.0
sniffio==1.3.1
pygame-ce==2.5.7
kaldi-native-fbank==1.22.3
pyglet==1.5.31
jsonschema-specifications==2025.9.1
google-api-core==2.30.0
ptyprocess==0.7.0
GitPython==3.1.46
numba==0.61.2
opentelemetry-sdk==1.40.0
torchvision==0.25.0
depyf==0.20.0
packaging==25.0
xgrammar==0.1.29
pyperclip==1.11.0
httplib2==0.31.2
ipython==9.10.0
Markdown==3.10.2
uvicorn==0.41.0
setproctitle==1.3.7
setuptools==80.10.2
hf-xet==1.3.2
cryptography==46.0.5
model-hosting-container-standards==0.1.13
supervisor==4.3.0
types-requests==2.32.4.20260107
annotated-doc==0.0.4
quack-kernels==0.3.2
pillow==12.1.1
pyzmq==27.1.0
torchaudio==2.10.0
nvidia-cuda-nvrtc-cu12==12.8.93
aiohappyeyeballs==2.6.1
google-auth-httplib2==0.3.0
interegular==0.3.3
rpds-py==0.30.0
regex==2026.2.28
cffi==2.0.0
typing_extensions==4.15.0
py-cpuinfo==9.0.0
python3-xlib==0.15
pycountry==26.2.16
lark==1.2.2
aiosignal==1.4.0
nvidia-cufile-cu12==1.13.1.3
jmespath==1.1.0
nvidia-cuda-cupti-cu12==12.8.90
mdurl==0.1.2
pyee==13.0.1
fastapi==0.135.1
python-dotenv==1.2.2
nvidia-cusparse-cu12==12.5.8.93
stable-retro==0.9.9
cuda-python==12.9.4
cuda-pathfinder==1.4.1
diplomacy==1.1.2
nvidia-nvtx-cu12==12.8.90
fsspec==2026.2.0
PyAutoGUI==0.9.54
llvmlite==0.44.0
sse-starlette==3.3.2
openai==2.24.0
MarkupSafe==3.0.3
antlr4-python3-runtime==4.9.3
opentelemetry-exporter-otlp-proto-grpc==1.40.0
typing-inspection==0.4.2
nvidia-nvjitlink-cu12==12.8.93
pydantic==2.12.5
termcolor==3.3.0
prometheus-fastapi-instrumentator==7.1.0
aiohttp==3.13.3
parso==0.8.6
types-PyYAML==6.0.12.20250915
sentence-transformers==5.2.3
google-generativeai==0.8.4
vizdoom==1.3.0
httpx==0.28.1
googleapis-common-protos==1.73.0
Werkzeug==3.1.6
tabulate==0.10.0
tiktoken==0.12.0
httptools==0.7.1
Farama-Notifications==0.0.4
tornado==6.5.4
safetensors==0.7.0
comm==0.2.3
opentelemetry-proto==1.40.0
tensorboard==2.20.0
pytz==2026.1.post1
accelerate==1.13.0
gymnasium_2048==0.1.0
ray==2.54.0
ImageHash==4.3.2
threadpoolctl==3.6.0
PySDL2==0.9.17
PyWavelets==1.9.0
charset-normalizer==3.4.5
PyMsgBox==2.0.1
psutil==7.2.2
nvidia-cuda-runtime-cu12==12.8.90
gym==0.26.2
nvidia-cudnn-cu12==9.10.2.21
playwright==1.58.0
google-auth==2.49.0
cupy-cuda12x==14.0.1
types-tqdm==4.67.3.20260303
PyRect==0.2.0
PyYAML==6.0.2
prometheus_client==0.24.1
Pygments==2.19.2
shellingham==1.5.4
opentelemetry-exporter-otlp-proto-http==1.40.0
certifi==2026.2.25
wheel==0.46.3
diskcache==5.6.3
six==1.17.0
tile-match-gym==1.0.6
platformdirs==4.9.4
asttokens==3.0.1
jsonschema==4.26.0
MouseInfo==0.1.3
rignore==0.7.6
wandb==0.25.1
uvloop==0.22.1
fastapi-cli==0.0.24
fastuuid==0.14.0
pettingzoo==1.25.0
hydra-core==1.3.2
google-genai==1.5.0
email-validator==2.3.0
scipy==1.17.1
ujson==5.11.0
llguidance==1.3.0
overcooked_ai==2.0.0
